<section class="featured-blog mtb-40">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="blog-box">
                <img src="assets/images/angular.jpg" alt="blog1" />
                <h3>Angular Full Course</h3>
                <p>by <span>GK Tutorials</span></p>
                <p>Angular released in October 2016, just like it was scheduled. The new features of the framework are the updated form of Node 10..</p>
                <a href="#" class="btn btn-danger">Read more...</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="blog-box">
                <img src="assets/images/dotnet.png" alt="blog1" />
                <h3>.Net Full Course</h3>
                <p>by <span>GK Tutorials</span></p>
                <p>ASP.NET is an open-source server-side web application framework designed for web development to produce dynamic web pages developed by Microsoft to allow programmers ...</p>
                <a href="#" class="btn btn-danger">Read more...</a>
              </div>
            </div> 
            <div class="col-md-4">
              <div class="blog-box">
                <img src="assets/images/mean.png" alt="post1" />
                <h3>Mean Stack course</h3>
                <p>by <span>GK Tutorials</span></p>
                <p>MEAN is a free and open-source JavaScript software stack for building dynamic web sites and web applications. The MEAN stack is MongoDB, Express.js, AngularJS, and Node.js...</p>
                <a href="detail.html" class="btn btn-danger">Read more...</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="blog-box">
                <img src="assets/images/mongo.jpeg" alt="post2" />
                <h3>Mongo DB Course</h3>
                <p>by <span>GK Tutorials</span></p>
                <p>MongoDB is a cross-platform document-oriented database program. Classified as a NoSQL database program, MongoDB uses JSON-like documents with schema...</p>
                <a href="detail.html" class="btn btn-danger">Read more...</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="blog-box">
                <img src="assets/images/pyhton.jpg" alt="post3" />
                <h3>Pyhton Course</h3>
                <p>by <span>GK Tutorials</span></p>
                <p>Python is one of the high-level general programming languages, interpreted, easy to use,complete and powerful. It is an object..</p>
                <a href="detail.html" class="btn btn-danger">Read more...</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="blog-box">
                <img src="assets/images/node.jpg" alt="post4" />
                <h3>Node JS Course</h3>
                <p>by <span>GK Tutorials</span></p>
                <p>Node.js is an open-source, cross-platform, JavaScript runtime environment that executes JavaScript code outside of a browser...</p>
                <a href="detail.html" class="btn btn-danger">Read more...</a>
              </div>
            </div>
          </div>
        </div>
      </section>